rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // madoguchi.inc ドメインのログインユーザーのみ全アクセス許可
    function isAllowed() {
      return request.auth != null &&
             request.auth.token.email.matches('.*@madoguchi\\.inc');
    }
    match /{document=**} {
      allow read, write: if isAllowed();
    }
  }
}
